<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Webshop</title>
</head>
<body>
<header>My Shop</header>
<hr/>
<div class="menubar">
    <a href="/only-available">
        <button type="menu">only available</button>
    </a>
    <a href="/cheapest-first">
        <button type="menu">cheapest first</button>
    </a>
    <a href="/nike">
        <button type="menu">contains nike</button>
    </a>
    <a href="/averagestock">
        <button type="menu">average stock</button>
    </a>
    <a href="/mostexpensive">
        <button type="menu">most expensive available</button>
    </a>
</div>
<div id="search tool">
    <form>
        <div>
            <label for="bar">Search for:</label><br/>
            <input type="text" id="bar" placeholder="...something like nike">
            <button id="searchbutton" type="button">Search</button>
        </div>
    </form>
</div>
<table id="content">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    <th:block th:each="item : ${itemlist}">
        <tr>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()} "/></td>
            <td th:text="${item.getPrice()} + ' Kč' "/></td>
            <td th:text="${item.getQuantity()} "/></td>
        </tr>
    </th:block>
</table>
</body>
</html>
