<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>todo-app v2.0</title>
</head>
<body>
<header><h2>Welcome to your TODO managing page!</h2></header>
<div>
<p>Add new TODO:</p>
    <form th:object="${todo}" method="post" th:action="@{/}">
        <label for="title">Title:</label>
        <input type="text" th:field="*{title}"/>

        <input type="submit" value="Add" />
    </form>
</div>
<div>
<p>See your TODOS:</p>
        <div th:object="${todos}" th:each="todo: ${todos}">
                <span th:text="${todo.dateOfCreation}"></span>
                <span th:text="${todo.title}"></span>
        </div>

</div>
</body>
</html>
