<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new TODO</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body class="container-fluid">
<form method="post" th:action="@{/todo/add}" th:object="${todo}">
    <p>Specify what to do:</p>
    <input type="text" value="Add new todo" th:field="*{title}"><br/>
    <label for name="urgent">is it urgent?</label>
    <input name="urgent" type="checkbox" value="is it urgent?" th:field="*{urgent}"><br/>
    <div>
    <select name="assignee" th:value="Assignee" th:field="${todo.assignee}">
        <option th:each="assi:${allassignees}"
                th:value="${assi.assigneeId}"
                th:text="${assi.name}"></option>
    </select>
    </div>
    <input type="submit" value="Add TODO">
</form>

</body>
</html>
