<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do list</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<a href="/todo/add">Add new TODO</a>
<h2>Todos for today:</h2>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>ACTION</td>
        <td>URGENT</td>
        <td>DONE</td>
        <td>TRASH IT</td>
    </tr>
    </thead>
    <tbody th:each="todo : ${todos}">
    <tr>
    <td th:text=" ${todo.id}"></td>
    <td><a th:href="@{/todo/{id}/edit(id=${todo.id})}" th:text=" ${todo.title}"></a></td>
    <td th:text=" ${todo.urgent}"></td>
    <td th:text=" ${todo.done}"></td>
    <td><a th:href="@{/todo/{id}/delete(id=${todo.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
