body {
    background-color: #e4e4e4;

}

form {
    margin: 0 auto;
    width: 400px;
    padding: 50px;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p[id="account login"] {
    font-size: 18pt;
}

p[id="account login"], label {
    text-transform: uppercase;
}

input:focus {
    outline: none !important;
    border-color: #7fb686;
}

input[type="text"] {
    width: 400px;
    height: 35px;
}

input[type="password"] {
    width: 400px;
    height: 35px;
}

form div + div {
    margin-top: 1em;
  }

label {
    display: inline-block;
    width: 90px;
    font-size: 10pt;
    padding-bottom: 10px;
  }

button[type="submit"]  {
      color: #ffffff;
      background-color: #000000;
      border-radius: 30px;
      font-size: 10pt;
      width: 100px;
      height: 50px;
      border:  0;
  }

div.resetpassword  {
    font-size: 8pt;
    text-align: right;
}